@{
    ViewBag.Title = "Contact";
}
<div class="row well">
    <h2><span class="glyphicon glyphicon-bullhorn"></span>
        @ViewBag.Title.
    </h2>
    <h3>
        @ViewBag.Message
    </h3>
</div>
<address>
    1500 North Harrison Ave<br />
    Cary, NC<br />
    <abbr title="or send Dima an e-mail, and he'll respond as quick as he can">Call Kris if you have questions</abbr>
    919-228-4664
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:helpdesk@caryacademy.org">helpdesk@caryacademy.org</a><br />
</address>
