@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1500 North Harrison Ave<br />
    Cary, NC<br />
    <abbr title="Phone">Call Kris if you have questions</abbr>
    919-228-4664
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:helpdesk@caryacademy.org">helpdesk@caryacademy.org</a><br />
</address>