@model IEnumerable<TabletCollection.ViewModels.StudentViewModel>

<table id="DataTableHomePagePartial">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.ActionLink("Collect", "Create", "Collections", new { StudentID = item.ID }, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script>
        //Data Table in Partial view on Home page
        $(document).ready(function () {
            $("#DataTableHomePagePartial").DataTable(
                {
                    "dom": "<'col-sm-1'f>'",
                    "columnDefs": [
                        { "orderable": false, "targets": 1 }
                    ],
                }
            );
        });
    </script>
}