body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.commentsinput {
    max-width: 600px;
}

.icon-input-btn {
    display: inline-block;
    position: relative;
}

    .icon-input-btn input[type="submit"] {
        padding-left: 2em;
    }
    .icon-input-btn a {
        padding-left: 2.5em;
    }
    .icon-input-btn .glyphicon {
        display: inline-block;
        position: absolute;
        left: 0.65em;
        top: 30%;
    }

.scaledCheckBox {
    transform: scale(2.0);
    font-size:350%;
}

.cellCheckBox {
    display: block;
    text-align: center;
}

