<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>CaryAcademy.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apps.caryacademy.org/TabletCollection</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://apps.caryacademy.org</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/TabletCollection</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>dima_monk@caryacademy.org</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TabletCollectionDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=hawkins.caryacademy.org;Initial Catalog=SummerTabletCollections;Persist Security Info=True;User ID=istat;Password=stats4kids" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TabletCollection.DAL.TabletCollectionDBContext, TabletCollection" MigrationConfiguration="TabletCollection.Migrations.Configuration, TabletCollection" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TabletCollectionDBContext-Web.config Connection String">
      <ParameterValue>Data Source=hawkins.caryacademy.org;Initial Catalog=SummerTabletCollections;Persist Security Info=True;User ID=istat;Password=stats4kids</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TabletCollectionDBContext" />
  </ItemGroup>
</Project>